<div class="container">
    <h1> Registration </h1>
    <div id="inner">
        <form>

            <input type="text" placeholder="firstname" name="firstname">
            <input type="text" placeholder="lastname" name="lastname"><br><br>
            <input type="email" placeholder="email id" name="email id"><br><br>
            <input type="password" placeholder="new password" name="new password"><br><br>
            <input type="submit" style="margin: left" value="sign up">
        </form>
    </div>
</div>